@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Source+Sans+Pro&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {
	text-decoration: none;
	cursor: pointer;
}
a:active { text-decoration: none; }

.logo-container {
	width: 100%;
	text-align: center;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo {
	font-family: 'audiowide', sans-serif;
	font-size: 3em;
	text-decoration: none;
	color: #FF6E31;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar {
	width: 100%;
    height: 50px;
    background-color: #243763;
    display: flex;
    justify-content: center;
    position: absolute;
}

.navbar ul {
	list-style-type: none;
}

.navbar ul li {
	float: left;
}

.nav-button {
	text-decoration: none;
    padding: 15px 20px;
	padding-bottom: 11px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
	font-weight: bold;
}

#current {
	background-color: #FF6E31;
}

.nav-button:hover {
	background-color: #ff6f3188;
}

.nav-button:active {
	background-color: #a16900;
}

.home {
    margin: 250px auto;
    text-align: center;
    font-size: 3.5em;
}

.button-home {
    margin-top: 15px;
    text-decoration: none;
    width: 15%;
	height: 80px;
    color: #fff;
    text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    background-color: #AD8E70;
	border-radius: 20px;
	font-weight: bold;
	border-style: none;
}

.button-home:hover {
	background-color: #ffba3b;
	cursor: pointer;
}

.button-home:active {
	background-color: #a16900;
}

.product-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    height: auto;
	width: 90%;
    grid-row-gap: 50px;
	border-style: none;
	margin: 100px auto;
}

.product-card {
	flex: 0 0 auto;
    width: 500px;
    height: auto;
	border: #243763;
	border-style: none;
	padding-bottom: 20px;
	margin: auto;
	background-color: #FFf;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 20px;
	overflow: hidden;
}

.product-card:hover {
	cursor: pointer;
}

.product-image{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
	margin-bottom: 10px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
	margin-left: 20px;
	margin-right: 20px;
}

.product-brand {
	font-size: 1.25em;
	font-weight: bold;
}

.message-box {
	margin: 100px auto;
	border-style: none;
	width: 600px;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.message-box span {
	font-size: 2em;
}

.content {
	margin: 100px auto;
	width: 250px;
	height: auto;
	border: #243763;
	border-style: none;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	display: block;
	justify-content: center;
	/* display: inline-table; */
}

.content h2 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-input {
	width: 97%;
	height: 30px;
	margin-top: 10px;
	font-size: 1.25em;
	text-align: center;
	border: #243763;
	border-style: solid;
	font-family: monospace;
}

.form-submit {
	width: 100%;
	margin-top: 10px;
	height: 40px;
	font-size: 1.25em;
	background-color: white;
	text-align: center;
	border: #243763;
	border-style: solid;
	font-family: 'source sans pro', sans-serif;
}

.form-submit:hover {
	background-color: #4f70c2;
	cursor: pointer;
}

.form-submit:active {
	background-color: #1c2b4d;
	cursor: pointer;
}

.register-content {
	margin: 100px auto;
	width: 250px;
	height: auto;
	border: #243763;
	border-style: none;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	display: block;
	justify-content: center;
}

.register-content h2 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.add-item-content {
	margin: 100px auto;
	width: 400px;
	height: auto;
	border: #243763;
	border-style: none;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	display: block;
	justify-content: center;
}

.add-item-content h2 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-input-add {
	width: 97%;
	height: 30px;
	margin-top: 10px;
	font-size: 1.25em;
	border: #243763;
	border-style: solid;
	font-family: monospace;
}

.form-label {
	font-size: 1.25em;

}

#pic {
	width: 80%;
	border-style: none;
	margin-left: 10px;
}

#desc {
	width: 389px;
	height: 100px;
	margin-top: 10px;
	font-size: 1.25em;
	border: #243763;
	border-style: solid;
	font-family: monospace;
}

.footer {
	width: 100%;
    height: 50px;
    background-color: #243763;
    display: flex;
    justify-content: center;
    position: fixed;
	bottom: 0;
	left: 0;
}

.footer a {
	margin-top: 15px;
	text-decoration: none;
	color: #fff;
}

.about-container {
	margin: 100px auto;
	width: 750px;
	height: auto;
	border-style: none;
	text-align: center;
}

.img img {
	border-radius: 50%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	width: 300px;
    height: 300px;
	margin-bottom: 20px;
}

.about-container h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px;
	
}

.about-container p {
    margin-top: 10px;
    font-size: 1.7em;
}

.detail-container {
	margin: 100px auto;
	width: 90%;
	height: auto;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	justify-content: flex-start;
}

.detail-image {
	width: 500px;
	height: 300px;
}

.detail-image img {
	border-radius: 20px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	width: 100%;
    height: auto;
}

.details {
	margin-left: 30px;
	width: 500px;
}

.detail-title {
	margin-bottom: 10px;
}

.detail-title h2 {
	font-size: 2em;
	font-weight: bold;
}

.detail-info span {
	font-size: 1.25em;
}

.main {
	color: #4c74d1;
}

.detail-description {
	margin-top: 10px;
	font-size: 1.25em;
}

.contact-container {
	margin-top: -75px;
	margin-left: 100px;
	width: 32%;
	height: auto;
}

.contact-container h3 {
	font-size: 1.5em;
}

.contact-image {
	width: 100%;
	text-align: center;
}

.contact-container img {
	margin-top: 20px;
	width: 200px;
	height: 200px;
}

.table-container {
	margin: 100px auto;
	width: 90%;
}

.table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

th, td{
	border: 1px solid black;
}

.table-head th {
	width: 25%;
}